
<div class="chatroom">
    <div class="close-btn">
        <div style="flex:90%;">
            <button class="btn btn-light open" id="allchat" (click)="OpenChatRoomandChat('allchat')">Chats</button>
            <button class="btn btn-light" id="chatroom" (click)="OpenChatRoomandChat('chatroom')">Chat Room</button>
            <button class="btn btn-light" id="notify" (click)="OpenChatRoomandChat('notify')">Send Notification</button>
        </div>
        <button class="closebtn btn btn-secondary" (click)="CloseChats()">X</button>
    </div>
    <div class="chats" [hidden]="!chats" >
        <div class="open-chats" id="opn-chats"[hidden]="!showChats" >
           <div class="user-chat">
                
                <div class=" card user-msg" *ngFor="let msg of  activeChats">
                    <img  [src]="'msg.sendersImage'" alt="">
                    <p> {{msg.senderName}} <span class="w3-badge w3-green">{{msg.messages.length - 1}}</span></p>
                </div>
                
           </div>

            <div class="create-new">
                <select class="form-control active" #userId (change)="OnSelectuser(userId.value)">
                       
                    <option value="selected" selected>New Chat</option>
                    
                    <ng-container *ngFor="let user of UserList">
                        <option [value]="user.devoteeLoginId" 
                         *ngIf="user.devoteeLoginId  != UserId"
                        > {{user.devoteeLoginId}}</option>
                    </ng-container>
                        
                </select>
            </div>
        </div>
        <div class="message-box" id="msg-box" [hidden]="!msgBox" >
            <div class="active-chat" >
                <button class="btn btn-secondary" id="btn-showchat" (click)="OpenUserChat()">Back</button>
                <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="">
                <p style="margin-top: 5px;">User 1 </p>
            </div>
            <hr>
            <div class="show-messages" id="display-msg">


            </div>
            <div class="chats-action" >
                <input placeholder="send message.."  class="form-control" #msg>
                <button type="submit" class="btn btn-primary" (click)="SendMessage(msg.value)">Send</button>
            </div>
        </div>
    </div>

    <div class="chats" [hidden]="!chatRoom" >
        <div class="open-chats" id="opn-chatsRoom"[hidden]="!showChats" >
            <div class="user-chat">
                 
                 <div class=" card user-msg">
                     <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="">
                     <p>Group  1        <span class="w3-badge w3-green">2</span></p>
                 </div>
                 <div class="card user-msg">
                     <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="">
                     <p>Grop  2        <span class="w3-badge w3-green">5</span></p>
                 </div>
                 <div class="card user-msg">
                     <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="">
                     <p>Group 3        <span class="w3-badge w3-green">2</span></p>
                 </div>
            </div>
             <div class="create-new">
                 <button class="btn btn-light active" *ngIf="isAdmin">Create New chatroom</button>
             </div>
         </div>
         <div class="message-box" id="msg-boxRoom" [hidden]="!msgBox" >
             <div class="active-chat" >
                 <button class="btn btn-secondary" id="btn-showchatRoom" (click)="OpenUserChat()">Back</button>
                 <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="">
                 <p style="margin-top: 5px;">Group 1 : User 1 , User 2</p>
             </div>
             <hr>
             <div class="show-messages" id="display-msgRoom">
 
 
             </div>
             <div class="chats-action" >
                 <input placeholder="send Group message."  class="form-control" #msg>
 
                 <button type="submit" class="btn btn-primary" (click)="SendMessage(msg.value)">Send</button>
             </div>
         </div>
    </div>

    <div class="chats" [hidden]="!notification" >
        <div class="open-chats" id="opn-chatsRoom"[hidden]="!showChats" >
            
         </div>
         <div class="message-box" id="msg-boxRoom" [hidden]="!msgBox" >
             <div class="active-chat" >
                 
             </div>
             <hr>
             <div class="show-messages" id="display-notifications">
 
 
             </div>
             <div class="chats-action" >
                 <input placeholder="send notification.."  class="form-control" #notify>
 
                 <button type="submit" class="btn btn-primary" (click)="SendNotification(notify.value)">Send</button>
             </div>
         </div>
    </div>
    
</div>